# Housing Prices

* Goal: Predict the sale price of a house
* Resources: https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data?select=train.csv

In [57]:
#import required libraries
import pandas as pd

In [58]:
train = pd.read_csv(r"C:\Users\wyman\OneDrive\Desktop\Python Projects\House Prices\train (1).csv")
test = pd.read_csv(r"C:\Users\wyman\OneDrive\Desktop\Python Projects\House Prices\test (1).csv")

In [59]:
train.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [60]:
train.isna().sum().sort_values(ascending = False)

PoolQC           1453
MiscFeature      1406
Alley            1369
Fence            1179
FireplaceQu       690
                 ...
CentralAir          0
SaleCondition       0
Heating             0
TotalBsmtSF         0
Id                  0
Length: 81, dtype: int64

In [61]:
len(train)

1460

In [62]:
dfs = [train, test]
for df in dfs:
    df.drop(['PoolQC', 'MiscFeature', 'Alley', 'Fence'], axis = 1, inplace = True)

In [95]:
train.isna().sum().sort_values(ascending = False).head(10)

Electrical     1
SalePrice      0
Foundation     0
RoofMatl       0
Exterior1st    0
Exterior2nd    0
MasVnrType     0
MasVnrArea     0
ExterQual      0
ExterCond      0
dtype: int64

In [64]:
for df in dfs:
    df.loc[df['Fireplaces'] == 0, 'FireplaceQu'] = 0

In [71]:
median = train['LotFrontage'].median()

In [66]:
#determine to fill with zero or with mean
train[train['LotFrontage'].isna()]['LotArea']

7       10382
12      12968
14      10920
16      11241
24       8246
        ...
1429    12546
1431     4928
1441     4426
1443     8854
1446    26142
Name: LotArea, Length: 259, dtype: int64

In [67]:
min(train['LotFrontage'])

21.0

In [74]:
for df in dfs:
    df['LotFrontage'].fillna(df['LotFrontage'].median(), inplace = True)

In [79]:
garage_str = ['GarageType', 'GarageFinish', 'GarageCond', 'GarageQual']

In [84]:
for i in garage_str:
    train[i].fillna('No Garage', inplace = True)
    test[i].fillna('No Garage', inplace = True)

In [88]:
for df in dfs:
    df['GarageYrBlt'].fillna(0, inplace = True)

In [92]:
basement_cols = ['BsmtFinType2', 'BsmtExposure', 'BsmtQual', 'BsmtFinType1', 'BsmtCond']
for i in basement_cols:
    train[i].fillna('No Basement', inplace = True)
    test[i].fillna('No Basement', inplace = True)

In [94]:
for df in dfs:
    train['MasVnrType'].fillna('None', inplace = True)
    test['MasVnrType'].fillna('None', inplace = True)
    train['MasVnrArea'].fillna(0, inplace = True)
    test['MasVnrArea'].fillna(0, inplace = True)

In [100]:
for df in dfs:
    train['Electrical'].fillna('None', inplace = True)
    test['Electrical'].fillna('None', inplace = True)

In [114]:
test.isna().sum().sort_values(ascending = False).head(20)

SaleCondition    0
ExterCond        0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
MasVnrType       0
MasVnrArea       0
ExterQual        0
Foundation       0
SaleType         0
BsmtQual         0
BsmtCond         0
BsmtExposure     0
BsmtFinType1     0
BsmtFinSF1       0
BsmtFinType2     0
BsmtFinSF2       0
YearRemodAdd     0
YearBuilt        0
dtype: int64

In [111]:
numeric_cols = ['BsmtFullBath', 'BsmtHalfBath', 'GarageArea', 'BsmtFinSF2', 'BsmtUnfSF', 'GarageCars', 'TotalBsmtSF', 'BsmtFinSF1']
str_cols = ['MSZoning', 'Functional', 'Utilities', 'SaleType', 'Exterior2nd', 'Exterior1st', 'KitchenQual']

In [113]:
for i in numeric_cols:
    test[i].fillna('0', inplace = True)

for i in str_cols:
    test[i].fillna('None', inplace = True)

Our data now has no missing values so we can proceed with some visualizations