In [1]:
#import libraries
import pandas as pd

In [2]:
train = pd.read_csv(r"D:\Data Science\Titanic\train.csv")
test = pd.read_csv(r"D:\Data Science\Titanic\test.csv")

In [3]:
train.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
median = train['Age'].median()
train['Age'] = train['Age'].fillna(median)

In [6]:
median = test['Age'].median()
test['Age'] = test['Age'].fillna(median)

In [7]:
train['Cabin'].value_counts()

C23 C25 C27    4
G6             4
B96 B98        4
C22 C26        3
D              3
              ..
E10            1
C46            1
D49            1
B94            1
B38            1
Name: Cabin, Length: 147, dtype: int64

In [8]:
train['Cabin'] = train['Cabin'].fillna(0)

In [9]:
cabins = []
for i in train['Cabin']:
    cabins.append(str(i))

In [10]:
letters = []
for i in cabins:
    letter = i[0]
    letters.append(letter)

In [11]:
train['Cabin'] = letters

In [12]:
cabins = []
for i in test['Cabin']:
    cabins.append(str(i))

In [13]:
letters = []
for i in cabins:
    letter = i[0]
    letters.append(letter)

In [14]:
test['Cabin'] = letters

In [15]:
train.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S

In [16]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [17]:
train['Embarked'] = train['Embarked'].fillna('S')

In [18]:
test['Embarked'] = test['Embarked'].fillna('S')

In [19]:
train['Family'] = train.apply(lambda x: x['SibSp'] + x['Parch'], axis = 1)
test['Family'] = test.apply(lambda x: x['SibSp'] + x['Parch'], axis = 1)

In [20]:
train.drop(['SibSp', 'Parch', 'Name', 'Ticket'], axis = 1, inplace = True)
test.drop(['SibSp', 'Parch', 'Name', 'Ticket'], axis = 1, inplace = True)

In [21]:
train.head(5)

   PassengerId  Survived  Pclass     Sex   Age     Fare Cabin Embarked  Family
0            1         0       3    male  22.0   7.2500     0        S       1
1            2         1       1  female  38.0  71.2833     C        C       1
2            3         1       3  female  26.0   7.9250     0        S       0
3            4         1       1  female  35.0  53.1000     C        S       1
4            5         0       3    male  35.0   8.0500     0        S       0

In [22]:
train_df = pd.get_dummies(train)
test_df = pd.get_dummies(test)

In [23]:
train_df.drop('PassengerId', axis = 1, inplace = True)

In [24]:
test_df.drop('Cabin_n', axis = 1, inplace = True)

### Prepare Data

In [25]:
y = train_df['Survived']

In [26]:
X_test = test_df
X_train = train_df

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
X_train.drop('Survived', axis = 1, inplace = True)

In [29]:
X_train.drop(['Cabin_T', 'Cabin_0'], axis = 1, inplace = True)

### Model

In [30]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [31]:
rfc = RandomForestClassifier()

In [32]:
param_grid = {
    'n_estimators': [200, 500, 1000],
    'max_features': ['auto'],
    'max_depth': [6, 7, 8],
    'criterion': ['entropy']
}

In [33]:
CV = GridSearchCV(estimator = rfc, param_grid = param_grid, cv = 5)

In [34]:
CV.fit(X_train, y)

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'criterion': ['entropy'], 'max_depth': [6, 7, 8],
                         'max_features': ['auto'],
                         'n_estimators': [200, 500, 1000]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [35]:
CV.best_params_

{'criterion': 'entropy',
 'max_depth': 8,
 'max_features': 'auto',
 'n_estimators': 200}

In [36]:
rfc = RandomForestClassifier(random_state = 42, max_features = 'auto', n_estimators = 500, max_depth = 7, criterion = 'entropy')

In [37]:
rfc.fit(X_train, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=7, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [38]:
median = X_test['Fare'].median()
X_test['Fare'] = X_test['Fare'].fillna(median)

In [39]:
X_test.head()

,PassengerId,Pclass,Age,Fare,Family,Sex_female,Sex_male,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Embarked_C,Embarked_Q,Embarked_S
0,892,3,34.5,7.8292,0,0,1,0,0,0,0,0,0,0,0,1,0
1,893,3,47.0,7.0000,1,1,0,0,0,0,0,0,0,0,0,0,1
2,894,2,62.0,9.6875,0,0,1,0,0,0,0,0,0,0,0,1,0
3,895,3,27.0,8.6625,0,0,1,0,0,0,0,0,0,0,0,0,1
4,896,3,22.0,12.2875,2,1,0,0,0,0,0,0,0,0,0,0,1

In [40]:
X_test.drop('PassengerId', axis = 1, inplace = True)

In [41]:
y_pred = rfc.predict(X_test)

In [42]:
submission = y_pred.reshape(-1,1)

In [43]:
sub_df = pd.DataFrame(submission)

In [44]:
sub_df['PassengerId'] = test['PassengerId']

In [45]:
sub_df['Survived'] = submission

In [46]:
cols = ['PassengerId',
       'Survived']

In [47]:
sub_df.drop(0, axis = 1, inplace = True)

In [48]:
sub_df.columns = [i for i in cols]

In [49]:
sub_df = sub_df.set_index('PassengerId')

In [50]:
sub_df.to_csv(r'D:\Data Science\Titanic\submission.csv')

In [51]:
sub_df

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 0
896                 1
...               ...
1305                0
1306                1
1307                0
1308                0
1309                0

[418 rows x 1 columns]